# Segmenting and Clustering Neighborhoods in Toronto

## 1. Create a dataframe with data from Wikipedia

In [18]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [19]:
# Scrape data from Wikipedia
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(source.text, 'lxml')

In [103]:
# Create a dataframe from the data scraped
table = soup.find('table', class_='wikitable sortable')
dataset = []
for tr in table.find_all('tr'):
    dataset.append([td.text.strip() for td in tr.find_all('td')])
df = pd.DataFrame(data=dataset[1::], columns=['PostalCode', 'Borough', 'Neighborhood'])

In [104]:
# Drop cells with boroughs which are 'Not assigned'
df_assigned = df[~(df['Borough']=='Not assigned')].reset_index(drop=True)

In [105]:
# Count the number of postal codes which are listed more than once
list(df_assigned['PostalCode'].duplicated()).count(True)

0

In [108]:
# Count the number of rows with 'Not assigned' neighborhood
list(df_assigned['Neighborhood']=='Not assigned').count(True)

0

In [111]:
# Display the first 10 rows of the dataframe
df_assigned.head(10)

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5        M9A         Etobicoke      Islington Avenue, Humber Valley Village
6        M1B       Scarborough                               Malvern, Rouge
7        M3B        North York                                    Don Mills
8        M4B         East York              Parkview Hill, Woodbine Gardens
9        M5B  Downtown Toronto                     Garden District, Ryerson

In [110]:
# Print the number of rows of the dataframe
df_assigned.shape

(103, 3)